
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

*{
    
    padding: 0;
    
    
}

h1{
    font-family:"bebas Neue" ;
}
.text{
    align-items: center;
    justify-content: center;
    display: flex;
}
.imagetext{
    align-items: center;
    justify-content: center;
    display: flex;
}

.contador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
