
*{
    margin: 0;
    padding: 0;
    background-color: beige;
}
#sectionStart{
    display: block;
    align-items: center;
    text-align: center;
}
#startGame{
    display: none;

}

.show{
    display: block;
    align-items: center;
    text-align: center;
    margin: 20px;
}
